@import "node_modules/bootstrap/scss/bootstrap";

html,body{
	height:100%;
}

#app{
	height:100%;
}

#dash-container{
	height:100%;
	overflow: auto;
}

#instance-panel,#symbol-panel{
	height:100%;
	overflow: scroll;
}

#chart-container{
	height:50%;
}